article, aside, figure, footer, header, main, nav, section {
    display: block;
}

main > div {
    float: left;
    overflow: hidden;
}
::-moz-selection {
    background: #484848;
    color: #fff;
}
::selection {
    background: #484848;
    color: #fff;
}